ieti_card_game.dtd

<!ELEMENT PlayerConfig (playerLife, summonPointsPlayer, deck) >
<!ELEMENT playerLife (#PCDATA)>
<!ELEMENT summonPointsPlayer (#PCDATA)>
<!ELEMENT deck (card)+>
<!ELEMENT card (name,description,attack,defense)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT attack (#PCDATA)>
<!ELEMENT defense (#PCDATA)>
<!ATTLIST card summonPoints (0|1|2|3|4|5) #REQUIRED>
<!ATTLIST card type (Infanteria|Lanceros|Caballeria) #REQUIRED>


