ieti_card_game.dtd

<!DOCTYPE cartas SYSTEM[
<!ELEMENT cartas (carta)* >
<!ELEMENT carta (nombre,descripcion,pts_invocacion,ataque,defensa,tipo)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT pts_invocacion (#PCDATA)>
<!ELEMENT ataque (#PCDATA)>
<!ELEMENT defensa (#PCDATA)>
<!ELEMENT tipcco (#PCDATA)>
]>
